In [2]:
import pandas as pd
population_dict = {'Hà Nội':8330830,
                    'Quảng Ninh':1358085,
                    'Nam Định':1836270,
                    'Đà Nẵng':1195490,
                    'TP.Hồ Chí Minh':9411805}
population = pd.Series(population_dict)
print(population)

Hà Nội            8330830
Quảng Ninh        1358085
Nam Định          1836270
Đà Nẵng           1195490
TP.Hồ Chí Minh    9411805
dtype: int64

In [3]:
area_dict={'Hà Nội':3358.9,
            'Quảng Ninh':6177.7,
            'Nam Định':1668.0,
            'Đà Nẵng':1284.9,
            'Tp.Hồ Chí Minh':2061.0}
area = pd.Series(area_dict)
area

Hà Nội            3358.9
Quảng Ninh        6177.7
Nam Định          1668.0
Đà Nẵng           1284.9
Tp.Hồ Chí Minh    2061.0
dtype: float64

In [4]:
VietNam = pd.DataFrame({'Dân số':population, 'Diện tích':area})
VietNam

                   Dân số  Diện tích
Hà Nội          8330830.0     3358.9
Nam Định        1836270.0     1668.0
Quảng Ninh      1358085.0     6177.7
TP.Hồ Chí Minh  9411805.0        NaN
Tp.Hồ Chí Minh        NaN     2061.0
Đà Nẵng         1195490.0     1284.9

In [7]:
data = [{'a':i,'b':2*i}
        for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [8]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [9]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':'DHKL'}])

     a  b     c
0  1.0  2   NaN
1  NaN  3  DHKL

In [12]:
ind = pd.Index([2, 3, 6, 7, 11])
ind

Index([2, 3, 6, 7, 11], dtype='int64')

In [13]:
ind[::2]

Index([2, 6, 11], dtype='int64')

In [14]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64