In [15]:
import pandas as pd
population = pd.Series({'Hà Nội':8330830,
                        'Quảng Ninh':1358490,
                        'Nam Định': 1771000,
                        'Đà Nẵng':1191381,
                        'TP.Hồ Chí Minh':9411805})
area=pd.Series({'Hà Nội':3358.9,
                'Quảng Ninh':6177.7,
                'Nam Định': 1668.0,
                'Đà Nẵng':1284.9,
                'TP.Hồ Chí Minh':2061.0})
data = pd.DataFrame({'Dân số':population, 'Diện tích':area})
data

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358490     6177.7
Nam Định        1771000     1668.0
Đà Nẵng         1191381     1284.9
TP.Hồ Chí Minh  9411805     2061.0

###ví dụ 4.4.2.1

In [16]:
data['Dân số']

Hà Nội            8330830
Quảng Ninh        1358490
Nam Định          1771000
Đà Nẵng           1191381
TP.Hồ Chí Minh    9411805
Name: Dân số, dtype: int64

In [17]:
data['population'] = data['Dân số']
print(data)

                 Dân số  Diện tích  population
Hà Nội          8330830     3358.9     8330830
Quảng Ninh      1358490     6177.7     1358490
Nam Định        1771000     1668.0     1771000
Đà Nẵng         1191381     1284.9     1191381
TP.Hồ Chí Minh  9411805     2061.0     9411805

In [18]:
data.population

Hà Nội            8330830
Quảng Ninh        1358490
Nam Định          1771000
Đà Nẵng           1191381
TP.Hồ Chí Minh    9411805
Name: population, dtype: int64

In [19]:
data['Mật độ']=data['Dân số']/data['Diện tích']
data

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
Quảng Ninh      1358490     6177.7     1358490   219.902229
Nam Định        1771000     1668.0     1771000  1061.750600
Đà Nẵng         1191381     1284.9     1191381   927.216904
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573

In [20]:
arr_data = data.values # Lấy mảng dữ liệu gốc từ DataFrame
print(arr_data)

[[8.33083000e+06 3.35890000e+03 8.33083000e+06 2.48022567e+03]
 [1.35849000e+06 6.17770000e+03 1.35849000e+06 2.19902229e+02]
 [1.77100000e+06 1.66800000e+03 1.77100000e+06 1.06175060e+03]
 [1.19138100e+06 1.28490000e+03 1.19138100e+06 9.27216904e+02]
 [9.41180500e+06 2.06100000e+03 9.41180500e+06 4.56662057e+03]]

In [21]:
data.T

,Hà Nội,Quảng Ninh,Nam Định,Đà Nẵng,TP.Hồ Chí Minh
Dân số,8.330830e+06,1.358490e+06,1.771000e+06,1.191381e+06,9.411805e+06
Diện tích,3.358900e+03,6.177700e+03,1.668000e+03,1.284900e+03,2.061000e+03
population,8.330830e+06,1.358490e+06,1.771000e+06,1.191381e+06,9.411805e+06
Mật độ,2.480226e+03,2.199022e+02,1.061751e+03,9.272169e+02,4.566621e+03

In [22]:
print("Cách 1, sử dụng chuyển vị:", data.T.values[1])
print("Cách 2, sử dụng chỉ mục(index): ", data['Diện tích'].values)

Cách 1, sử dụng chuyển vị: [3358.9 6177.7 1668.  1284.9 2061. ]
Cách 2, sử dụng chỉ mục(index):  [3358.9 6177.7 1668.  1284.9 2061. ]

In [23]:
#Sử dụng loc
print(data)
#Lấy hàng đầu tiên
print('\n Dữ liệu của Hà Nội:\n',data.loc['Hà Nội'])
#Lấy dữ liệu 3 hàng đầu tiên
print("\n Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:\n",data.loc[:'Nam Định'])
#Dữ liệu của 2 hàng và 2 cột đầu tiên
print("\nDữ liệu dân số, diện tích của Hà Nội, Quảng Ninh:\n",data.loc[:'Quảng Ninh',:'Diện tích'])
#Lấy dữ liệu của tất cả các hàng và các cột cuối cùng
print("\n Mật độ dân số các Tỉnh/Thành phố:\n",data.loc[:,'Mật độ'])

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
Quảng Ninh      1358490     6177.7     1358490   219.902229
Nam Định        1771000     1668.0     1771000  1061.750600
Đà Nẵng         1191381     1284.9     1191381   927.216904
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573

 Dữ liệu của Hà Nội:
 Dân số        8.330830e+06
Diện tích     3.358900e+03
population    8.330830e+06
Mật độ        2.480226e+03
Name: Hà Nội, dtype: float64

 Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:
              Dân số  Diện tích  population       Mật độ
Hà Nội      8330830     3358.9     8330830  2480.225669
Quảng Ninh  1358490     6177.7     1358490   219.902229
Nam Định    1771000     1668.0     1771000  1061.750600

Dữ liệu dân số, diện tích của Hà Nội, Quảng Ninh:
              Dân số  Diện tích
Hà Nội      8330830     3358.9
Quảng Ninh  1358490     6177.7

 Mật độ dân số các Tỉnh/Thành phố:
 Hà Nội            2480.225669
Quảng Ninh         219.902229
Nam Định          1061.750600
Đà Nẵng            927.216904
TP.Hồ Chí Minh    4566.620573
Name: Mật độ, dtype: float64

ví dụ 4.4.2.4

In [26]:
#lấy dữ liệu dân số và mật độ các tỉnh /TP có diện tích >2000km2
print(data.loc[data['Diện tích'] >2000, ['Dân số','Mật độ']])

                 Dân số       Mật độ
Hà Nội          8330830  2480.225669
Quảng Ninh      1358490   219.902229
TP.Hồ Chí Minh  9411805  4566.620573