In [7]:
import pandas as pd
#Tuples đại diện cho tỉnh thành phố - Năm tương ứng
index=[('Hà Nội',2015),('Hà Nội',2020),
 ('Nam Định',2015),('Nam Định',2020),
 ('Thanh Hóa',2015),('Thanh Hóa',2020),
 ('Đà Nẵng',2015),('Đà Nẵng',2020),
 ('Hồ Chí Minh',2015),('Hồ Chí Minh',2020)]
data=[ 7216000, 8246540,
 1850600, 1780330,
 3514200, 3664940,
 1028800, 1169480,
 8146300, 9227600]
vn_pop = pd.Series(data, index=index)
vn_pop

(Hà Nội, 2015)         7216000
(Hà Nội, 2020)         8246540
(Nam Định, 2015)       1850600
(Nam Định, 2020)       1780330
(Thanh Hóa, 2015)      3514200
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2015)        1028800
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2015)    8146300
(Hồ Chí Minh, 2020)    9227600
dtype: int64

In [8]:
vn_pop[('Hà Nội',2015):('Nam Định',2015)]

(Hà Nội, 2015)      7216000
(Hà Nội, 2020)      8246540
(Nam Định, 2015)    1850600
dtype: int64

In [9]:
vn_pop[[i for i in vn_pop.index if i[1]==2020]]

(Hà Nội, 2020)         8246540
(Nam Định, 2020)       1780330
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2020)    9227600
dtype: int64

In [10]:
idx=pd.MultiIndex.from_tuples(index,
names=['Tỉnh/TP','Năm'])
idx

MultiIndex([(     'Hà Nội', 2015),
            (     'Hà Nội', 2020),
            (   'Nam Định', 2015),
            (   'Nam Định', 2020),
            (  'Thanh Hóa', 2015),
            (  'Thanh Hóa', 2020),
            (    'Đà Nẵng', 2015),
            (    'Đà Nẵng', 2020),
            ('Hồ Chí Minh', 2015),
            ('Hồ Chí Minh', 2020)],
           names=['Tỉnh/TP', 'Năm'])

In [11]:
vn_pop = vn_pop.reindex(idx)
vn_pop

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [12]:
vn_pop[:,2020]

Tỉnh/TP
Hà Nội         8246540
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Hồ Chí Minh    9227600
dtype: int64

In [13]:
print(vn_pop,'\n')
vn_pop_df = vn_pop.unstack()
vn_pop_df

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

In [14]:
vn_pop_df.stack()

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
dtype: int64