In [6]:
import pandas as pd
df1=pd.DataFrame(
    {
        'Nhân viên' :['Bình','Minh','Lan','Vân'],
        'Phòng/Ban' :['Kế toán','Kỹ thuật','Kỹ thuật','HCQT']
    }
)
df2=pd.DataFrame(
    {
        'Nhân viên':['Bình','Minh','Lan','Vân'],
        'Năm':[2020,2010,2004,2011]
    }
)
print("Dữ liệu df1:\n",df1)
print("\n Dữ liệu df2: \n",df2)

nhanvien=pd.merge(df1,df2)
print(nhanvien)

Dữ liệu df1:
   Nhân viên Phòng/Ban
0      Bình   Kế toán
1      Minh  Kỹ thuật
2       Lan  Kỹ thuật
3       Vân      HCQT

 Dữ liệu df2:
   Nhân viên   Năm
0      Bình  2020
1      Minh  2010
2       Lan  2004
3       Vân  2011
  Nhân viên Phòng/Ban   Năm
0      Bình   Kế toán  2020
1      Minh  Kỹ thuật  2010
2       Lan  Kỹ thuật  2004
3       Vân      HCQT  2011

In [7]:
quanly=pd.DataFrame(
 {
 'Phòng/Ban':['Kế toán','Kỹ thuật','HCQT'],
'Quản lý':['Ly','Cường','Minh']
 }
)
print("\n df3 :\n",nhanvien) ; print(quanly)
#Quan hệ One-to_Many giữa Quản lý và Nhân viên
print("\nMerrge Quản lý & Nhân viên :\n",
 pd.merge(quanly, nhanvien))

 df3 :
   Nhân viên Phòng/Ban   Năm
0      Bình   Kế toán  2020
1      Minh  Kỹ thuật  2010
2       Lan  Kỹ thuật  2004
3       Vân      HCQT  2011
  Phòng/Ban Quản lý
0   Kế toán      Ly
1  Kỹ thuật   Cường
2      HCQT    Minh

Merrge Quản lý & Nhân viên :
   Phòng/Ban Quản lý Nhân viên   Năm
0   Kế toán      Ly      Bình  2020
1  Kỹ thuật   Cường      Minh  2010
2  Kỹ thuật   Cường       Lan  2004
3      HCQT    Minh       Vân  2011

In [9]:
nv_location=pd.DataFrame(
    {
        'Nhân viên':['Bình','Minh','Lan'],
        'Nơi sinh':['Hà Nội','Hồ Chí Minh','Nam Định']
    }
)
nv_age=pd.DataFrame(
    {
        'Nhân viên':['Bình','Vân','Lan'],
        'Age':[22,23,25]
    }
)
print('\n Nơi sinh và tuổi của nhân viên:\n',
      pd.merge(nv_location,nv_age))

 Nơi sinh và tuổi của nhân viên:
   Nhân viên  Nơi sinh  Age
0      Bình    Hà Nội   22
1       Lan  Nam Định   25

In [1]:
import pandas as pd
import numpy as np
datavn_raw = pd.read_excel('./data19_21.xlsx')
print(datavn_raw)

FileNotFoundError: [Errno 2] No such file or directory: './data19_21.xlsx'

In [2]:
datavn = datavn_raw[['Unnamed: 0','2019()','2020()','2021(*)','Unnamed: 2','Unnamed: 4','Unnamed: 6']]
datavn

NameError: name 'datavn_raw' is not defined

In [3]:
data = {
'Age':[20,30,35,40,45],
'Height':[165,170,175,180,185],
'Weight':[60,65,70,75,80]
}
df=pd.DataFrame(data)
df.describe()

             Age      Height     Weight
count   5.000000    5.000000   5.000000
mean   34.000000  175.000000  70.000000
std     9.617692    7.905694   7.905694
min    20.000000  165.000000  60.000000
25%    30.000000  170.000000  65.000000
50%    35.000000  175.000000  70.000000
75%    40.000000  180.000000  75.000000
max    45.000000  185.000000  80.000000

In [4]:
df=pd.DataFrame(
{
'key':['A','B','C','A','B','C'],
'data':range(6)
},
columns=['key','data']
)
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [5]:
df_group=df.groupby('key')
df_group